.BorTit
  border-left: 5px solid #71B0BB
  padding: 6px 0px 6px 10px
  margin-top: 6px

iframe
  border-radius: 10px

.cajon.color-primario
  background-color: #FCF0E5 !important

.lista-ul--color.t1 li > i:first-of-type 
  color: #E77C20;

.t1.div1
  background-color: #FCF0E5
  border-top-left-radius: 15px
  border-bottom-left-radius: 15px

.t1.div2
  background-color: #DCEDEF

.t1.div3
  background-color: #FEF6E1
  border-top-right-radius: 15px
  border-bottom-right-radius: 15px

.t2-div1
  background-color: #FEF6E1

.t2-div2
  background-color: #FCF0E5

.t2-div3
  background-color: #DCEDEF


.bloque-texto-f.color-acento-botones.div1:before
  background-color: #FEF6E1 !important

.bloque-texto-f__comillas.div1 i     
  color: #E3934E !important

.t3-li
  color: #E77C20 !important

.lista-ul--color.t3 li > i:first-of-type 
    color: #E3934E !important

.bloque-texto-f.color-secundario.div2:before
  background-color: #DCEDEF !important

.bloque-texto-f__comillas.div2 i     
  color: #71B0BB !important

.pasos-a.color-secundario .pasos-a__circle 
    background-color: #71B0BB;

.pasos-a.color-secundario .pasos-a__numero::after 
    border-left-color: #71B0BB;

.pasos-a.color-secundario .pasos-a__linea .hor-line 
    border-top-color: #71B0BB;

.pasos-a.color-secundario .pasos-a__linea__esquina__linea 
    border-color: #71B0BB;

.tabla-a.color-secundario thead 
    border-color: #71B0BB;

.linea-tiempo-d.color-secundario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
    background-color: #E3934E;
    color: #fff;

.texto-blanco
  color: white

.div-blanco
  background-color: #FEFAF0;
  -webkit-box-shadow: 0px 4px 4px 2px rgba(99,99,99,0.39); 
  box-shadow: 0px 4px 4px 2px rgba(99,99,99,0.39);

.color-secundario.t4 .tarjeta--gris
    background-color: #FEF6E1;

.titulo-naranja
  color: #E77C20

.pasos-a.color-primario .pasos-a__circle div
  color: white;

.tabs-a.color-primario .tabs-a__tab__selected 
    background-color: #E77C20 !important
    color: white !important

.tabs-a__tab
    background-color: #FCF0E5 !important

.tarjeta.color-primario--borde.t6
    background-color: #FEF6E1;
    color: #12263F;
    border: solid 0px white;

.fondo-t6
  background: rgba(79,163,177,1);
  background: -moz-linear-gradient(top, rgba(79,163,177,1) 0%, rgba(40,82,89,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(79,163,177,1)), color-stop(100%, rgba(40,82,89,1)));
  background: -webkit-linear-gradient(top, rgba(79,163,177,1) 0%, rgba(40,82,89,1) 100%);
  background: -o-linear-gradient(top, rgba(79,163,177,1) 0%, rgba(40,82,89,1) 100%);
  background: -ms-linear-gradient(top, rgba(79,163,177,1) 0%, rgba(40,82,89,1) 100%);
  background: linear-gradient(to bottom, rgba(79,163,177,1) 0%, rgba(40,82,89,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fa3b1', endColorstr='#285259', GradientType=0 );
   
    
.div-t8
  background-color:#FEF6E1



.t8.div1
  background-color: #DCEDEF
  border-top-left-radius: 15px
  border-bottom-left-radius: 15px

.t8.div3
  background-color: #FCF0E5
  border-top-right-radius: 15px
  border-bottom-right-radius: 15px



